<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AllBooks</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h2>Welcome <%= user.name %></h2>
    </div>
    <div>
      <h1>Books</h1>
    </div>
    <ul>
      <% books.forEach(book=> {%>
      <li>
        <div>
          <a href="/books/<%= book.id%>"><p><%= book.title%></p></a>
        </div>
        <p>
          <img
            src="<%= book.imageUrl %>"
            alt=""
            style="width: 100px; height: 150px;"
          />
        </p>
        <p><%= book.author %></p>
        <p><%= book.price %></p>
        <p><%= book.category %></p>
        <form action="/cart/books/<%= book.id %>" method="POST">
          <input type="submit" value="add to cart" />
        </form>
      </li>
      <% }) %>
    </ul>
    <a href="/books/createbook">createbook</a>
    <a href="/cart">Cart</a>

    <div>
      <a href="/books/category/drama">Drama</a>
      <a href="/books/category/adventure">Adventure</a>
      <a href="/books/category/fiction">Fiction</a>
    </div>
  </body>
</html>
