<h2>your cart</h2>
<ul>
  <% cart.products.forEach(book=> {%> <%= console.log(book,"jvjvjhvhj") %>
  <li>
    <p>
      <img
        src="<%= book.bookId.imageUrl %>"
        alt=""
        style="width: 100px; height: 150px;"
      />
    </p>
    <p><%= book.bookId.author %></p>
    <p>RS<%= book.bookId.price %></p>
    <p>Quantity<%= book.quantity %></p>
  </li>
  <% }) %>
</ul>
